
@font-face {
    font-family: 'ggx88light';
    src: url('https://github.com/777paranoia/djspeedsick/blob/master/files/font/ggx88lt-regular-webfont.woff2') format('woff2'),
         url('https://github.com/777paranoia/djspeedsick/blob/master/files/font/ggx88lt-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
